/* LISTADO NORMAL */
.product-list {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 1.5rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/* LISTADO VACÍO */
.product-empty {
  width: 100%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #b0bec5;
  text-align: center;
}

.product-empty-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.product-empty-text {
  font-size: 0.95rem;
}
