.background {
  flex: 1;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;      
  align-items: center;

  padding-top: 40px;            
}

/* SearchBar arriba */
.background-top {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

/* Contenido (cards) */
.background-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1.5rem;
}
